
.grid-item img {
    width: 100%;
    transform: scale(1.9);
}

.container {
    width: 95%;
    margin: 0 auto;
}
.grid {
    display: flex;

}


.grid-col {
    flex: 1;
    padding: 0 .1em;
}


.grid-col--2, .grid-col--3 {
    display: none;
}

.content {
    position: absolute;
    background: rgba(1, 1, 1, 1);
    color: white;
    margin-top : 1em;

    h3 {
        margin: .2em .5em;
        font-size: 1em;
        font-weight: 500%;
        font-weight: bold;

    }


}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }

    .grid-col--2 {display: block;}

    .grid-col {
        padding: 0 .5em;
    }
    img {
        margin-bottom: .8em;

    }

    .content {
        opacity: 0;
        transform: translateX(-.5em);
        transition: all 1s;
        will-change: opacity, transform;
    }

    .grid-item:hover {
        cursor: pointer;

        .content {
            opacity: 1;
            transform: translateX(0);

        }
    }

}

@media (min-width: 1080px){
    .grid-col--3 {display: block;}
    .container {
        width: 80%;
    }
}