/* ----------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------- */


/*
Orange color: #e67e22
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.grey-section {
    background-color: #F4F4F4;
}

/* LOADING  */

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

/*   
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e67e22;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  } */
/* ----------------------------------------------- */


/* REUSABLE COMPONENTS */


/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* ------- HEADING ------- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-weight: 110%;
    margin-bottom: 15px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.main-name {
    letter-spacing: 3px;
}


/* ------- PARAGRAPHS ------- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ------- ICONS ------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}


a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ------- BUTTONS ------- */

.btn:link,
.btn-visited ,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ----------------------------------------------- */


/* HEADER */


/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 75px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-color {
    
    display: none;
    height: 25px;
    width: auto;
    float: left;
    margin: 5px 0;
    margin-top: 15px;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* Mobile Navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon  {
    font-size: 200%;
    color: #fff;
}


/* sticky navi  */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 15px;
    margin-bottom: 16px;
}

.sticky .main-nav  a:link,
.sticky .main-nav li a:visited {
    padding:  16px 0;
    color: #555;
}

.sticky .logo {display: none;}
.sticky .logo-color {
    display: block;
}

/* ----------------------------------------------- */


/* MEALS */


/* ----------------------------------------------- */

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
}

.meal-photo img {
    width: 100%;
    height: auto;
}

.grid-item {
    /* overflow: hidden; */
}

.grid-item a img:hover {
    /* transform: scale(1.04); */
    /* transform: scale(1.04); */
}


/* ----------------------------------------------- */


/* TEAM MEMBERS */


/* ----------------------------------------------- */

#member-section {}

#yearpicker {
    text-align: center;
}



.select-box {}


/* Custom dropdown */

.select-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    /* demo only */
}

.select-box select {
    background-color: #e67e22;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}

.select-box::before,
.select-box::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.select-box::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.select-box::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.select-box select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.select-box select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.select-box::before {
    background-color: rgba(0, 0, 0, .15);
}

.select-box::after {
    color: rgba(0, 0, 0, .4);
}


/* MEMBER PHOTO */

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
.team-member {
    margin: 0 0;
    padding: 0;
    text-align: center;

}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* .team-member figure img {
    min-width: 100%;
} */

/* .team-member figcaption p {
    font-size: 16px;
} */

/* .team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
} */

/* .team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
} */

.team-member h4 {
    margin: 0px 0 0;
    padding: 0;
}


.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: #e67e22;
    /* Primary color, can be changed via colors.css */
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* .team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
} */

/* .team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
} */

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.member-link a:link,
.member-link a:active,
.member-link a:visited {
    color: rgba(255, 255, 255, 1);
}

.member-link a:hover {
    color: rgba(255, 255, 255, 0.6);
}

/* .team-lead {
    padding: 0 35%;
} */

/* ----------------------------------------------- */


/* CONTACT FORM */


/* ----------------------------------------------- */

.contact-form {
    /* background-color: red; */
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}



*:focus {
    outline: none;
}


footer {
    background-color: #333;
    padding: 60px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li , 
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child , 
.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited,
.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}


.social-links li a:link,
.social-links li a:visited {
    font-size: 180%;
}

#ion-facebook:hover {
    color: #3b5998;
    transition:  color 0.2s;
}

#ion-youtube:hover {
    color: #ff0000;
    transition:  color 0.2s;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;;
}

/* ----------------------------------------------- */

/* SPONSORS */

/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* .sponsor-img-div {

    width: 100%;
    /* height: auto; */
    /* margin-bottom: 10px; */
/* }  */


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

.js--wp-1
{
    opacity: 0;
    animation-duration: 1s;
}


.js--wp-1.animated {
    opacity: 1;
}


/* 
.img-responsive {
    padding: 0%;
    width: 50px;
    height: 50px;
    
} */

.member-group-container {
    margin-top: 25px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color:white;
}

.member-group-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  /* some moments */

  .moments-hidden {
      display: none;
  }


  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }